* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}


body {
	padding: 0;
	background-image: url('../img/background.jpg');
	color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 2200px;
	height: 900px;
	font-family: 'Michroma', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

body::-webkit-scrollbar {
	width: auto;
  }
   
  body::-webkit-scrollbar-thumb {
	background-color:  #f529b1;
	outline: 1px solid #ffffff;
	box-shadow: inset 0 0 10px rgb(12, 63, 7); 
	border-radius: 20px;
  }
  
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px white; 
	background-color: rgb(65, 50, 60);
  }
  

.hero {
	width: 100%;
}

.logo {
	text-align: center;
	margin-bottom: 0;
	padding-top: 60px;
}

.logo img {
	width: 250px;
	margin: 0;
	padding: 0;
}

.main-wrapper {
	height: 330px;
	margin: auto;
	margin-top: -30px;
	background-color: rgb(255, 255, 255, 0.3);
	text-align: center;
	width: 700px;
	padding: 10px 0 20px 0;
}

.main-wrapper h1 {
	text-align: center;
	padding: 0;
	font-size: 50px;
	padding-top: 30px;
	margin-bottom: 15px;
	color: hotpink;
}

.main-wrapper label {
	color: white;
}

.main-wrapper .mail {
	text-align: left;
	padding-left: 150px;
	margin-top: 40px;
	font-size: 20px;
}

.main-wrapper .mail label {
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 10px;
}

.main-wrapper .password {
	text-align: left;
	padding-left: 98px;
	font-size: 20px;
	margin-top: 10px;
}

.main-wrapper .btn {
	margin:auto;
	margin-top: 40px;
	width: 150px;
	font-size: 16px;
}

.main-wrapper input {
	font-size: 18px;
	padding: 5px;
}

.main-wrapper .btn button {
	width: 100%;
	height: 40px;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: hotpink;
	color: white;
	border: white 1px solid;
}

.main-wrapper button:hover {
	background-color: lightblue;
	color: darkblue;
	border: darkblue 1px solid;
	cursor: pointer;
}
.cancel-btn {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.previous {
	width: 74px;
	height: 30px;
	background-color: transparent;
	color: white;
	border: white 1px solid;
	font-size: 16px;
}

.previous:hover {
	background-color: lightblue;
	color: darkblue;
	border: darkblue 1px solid;
	cursor: pointer;
}
